:root {
  --gray: #000;
  --background-color: #eee;
  --grayslow: #6c757d;
  --light: #f8f9fa;
  --dark: #343a40;
  --yellow: #ffc107;
  --warning: #ffc107;
  --navbar-shadow: #e5e5e5;
  --breakpoint-xs: 0;
  --breakpoint-sm: 475px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}
*{
  
  box-sizing: border-box;

}

body {
  font-family: "Oswald", sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
