.contain-services{
    margin: 2rem auto;
    height: 1000px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.service-img{
    height: 6rem;
    width: 6rem;
    margin: 0 auto;
}
.subtitle{
    text-transform: uppercase;
    font-size:2rem ;
    text-align: justify;
}

.video-container{
display:flex;
flex-direction: column;    
}
.video-container h2{
    text-align: center;
}

#video{
    width: 300px;
    align-self: center;
}


/*desktop*/

@media (min-width: 768px) {
    .contain-services{
    max-height: 1720px;
    min-width: 768px;
    margin: -2rem auto;
    display: flex;
    flex-direction: column;

    }

    .subtitle{
        text-transform: uppercase;
        font-size:2rem ;
        text-align: center;
    }
    
    .service-img{ 
        height: 10rem;
        width: 10rem;
    }

   p{
    text-align: justify;
    font-size: 1.5rem;
    color: var(--grayslow);
   }

   .video h2{
    text-align: center;
}

.video-container{
    display: flex;
    margin: 13rem auto 0  ;
    flex-direction: column;

}

.video-container h2{
    text-align: center;
    font-size: 3rem;
    color: var(--grayslow);
}

#video{
width: 560px;
align-self: center;

}


}
